*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


header{
    height: 100px;
    width: 100%;
}

.logo{
    padding: 30px 30px;
}
.container{

}