*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


header{
    height: 100px;
    width: 100%;
    line-height: 100px;
}

nav li{
    text-decoration: none;
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}

nav{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.logo{
    padding: 30px 30px;
}

.inizia{
    height: 20px;
    background-color: #0061ff;
    padding: 10px 20px;
    color: white;
} 

.jumbotron{
    width: 100%;
    height: 800px;
    background-color: #b4d0e7;
    margin-bottom: 100px;
}

.jumbotron, h1{
    display: inline-block;
}

.jumbotron h1{
    font-size: 5.6em;
    padding: 100px 400px 20px 150px;
    line-height: 120px;
    margin-right: 250px;
}

.jumbotron p{
    width: 400px;
    padding-left: 150px;
}

.jumbotron div{
    display: inline-block;
}

.free-trial{
    background-color: #0061ff;
    display: inline-block;
    text-decoration: none;
    padding: 10px 1.5em;
    margin: 30px 0;
    color: white;
    
}
.arrow{
    display: block;
    font-size: 3em;
    margin-top: 30px;
}

.jumbo-img{
    width: 100%;
}

.img-container{
    display: inline-block;
    width: 50%;
    margin-right: 200px;
}


.container{
    width: 60%;
    margin: 0 auto;
    
}

#middle-title{
    font-size: 3em;
    margin:250px 0 100px 0;
}
.check{
    padding-left: 10px;
    text-align: left;
    font-size: 1.5em;
}

.plan-schedule{
    width: calc((100% / 3) - 40px);
    height: 1400px;
    border: 1px solid black;
    margin: 40px 40px 0 0;
    text-align: center;
}
.type-schedule{
    text-align: center;
}

.title-schedule{
    padding: 50px 0 0 40px;
    font-size: 2em;
    text-align: left;
}

.price{
    padding-left: 40px;
    font-weight: bold;
}

.line{
    padding: 30px;
    display: block;
    text-align: left;
}

.productivity{
    line-height:30px;
}

.schedule-list{
    width: 90%;
}

.schedule-list li{
    padding: 10px;
    margin-left: 10px;
}